<table cellspacing="0">
  <thead>
    <tr>
      <th>Site</th>
      <th>Username</th>
      <th>Cookies</th>
      <th><!-- actions --></th>
    </tr>
  </thead>
  <tbody>
    <%= render @treats %>
  </tbody>
</table>
